body {
    background-color: black;
}

h1 {
    font-family: Libre Baskerville;
    text-transform: uppercase;
    color: white;
}

p {
    color: white;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1, p {
    text-align: center;
}

div {
    margin-top: 8%;
    width: 50%;
    margin-left: 25%;
}